<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/apartmentDetails.css">
    <link rel="stylesheet" href="/public/css/submenu.css">
    <title>Detalles Apartamento</title>
</head>
<body>
    <span  id="modal-result"></span>
    <header>
        <h1 class="app-name beige" ><span class="newyork-font white">Habitat</span> Connect</h1>
    </header>

    <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <%- include('./components/menuComponent',{
        BASE_URL:BASE_URL
    }) %>
    <section class="modal-maintenance">
        <div class="container-modal">
            <form class="form" id="update-maintenance-form">
                <h2 class="title-form" id="month-maintenance">ENERO</h2>
                <span class="close-window" id="close-window">X</span>
                <label class="input-label">
                    Fecha de pago
                    <input type="date" name="date_paid" class="input-maintenance" value="" id="maintenance-date">
                </label>
                <label class="submit-label">
                    <input type="submit" value="Guardar"  class="btn-submit">
                </label>
            </form>
        </div>
    </section>

    <main class="container-content">
        
        <section>
            <nav class="secondary-menu sub-menu" id="sub-menu">

                <a class="item-menu profile-item" href="<%=BASE_URL+'/admin/apartamentos'%>">
                    <img alt="return-icon" src="/public/icons/backward_icon.png" class="return-icon">
                    Regresar
                </a>
                
                <a class="subitem-menu item-sub-menu" href="#" data-target="apartment-data">
                    Datos del apto
                    <span class="selected-item-line"></span>
                </a>
                
                
                <a class="subitem-menu item-sub-menu" href="#" data-target="ocupaccy-info">
                    Propietario e inquilino
                    <span class="selected-item-line hide"></span>
                </a>
                
                <a class="subitem-menu item-sub-menu" href="#" data-target="entry-stickers">
                    Stickers de entrada
                    <span class="selected-item-line hide"></span>
                </a>
                
                <a class="subitem-menu item-sub-menu" href="#" data-target="maintenance">
                    Mantenimiento
                    <span class="selected-item-line hide"></span>
                </a>
            </nav>

        </section>

        <% function obtenerNombreNivel(numero) {
            switch (numero) {
              case 1:
                return 'Primer Nivel';
              case 2:
                return 'Segundo Nivel';
              // Agrega más casos según sea necesario
              default:
                return 'Nivel Desconocido';
            }
          } %>
            <% const nivelApartamento = 1; %>
            <% const nombreNivel = obtenerNombreNivel(allApartamentData.apartament_level); %>
           
        <section class="container-datos">
            <ul class="container-list">

                <li class="container-item" id="apartment-data">

                    <section class="apt-details">
                        <p class="montserrat-light center bold">Apto <span class="gray">#<%=allApartamentData.apartament_number%></span></p>
                        <p class="level montserrat-light gray">
                            <%=nombreNivel %>
                            <label for="occupy" class="montserrat-light gray label-center">
                                Habitado
                                <% const checked = allApartamentData.ocupation_state ==1? 'checked' : ''%>    
                                <input type="checkbox" name="inhabitated" id="ocupay-checkbox"  <%=checked%>>
                            </label>
                        </p>
                        <label for="family" class="label-input">
                            <img src="/public/icons/tower.png" alt="Apartamento" id="apartment-icon">
                            <div class="label-error">
                                <input type="text" name="apartament_name" placeholder="Nombre del apto" value="<%=allApartamentData.apartament_name%>" class="input-form bold montserrat-light" id="input-family" disabled autocomplete="off">
                                <p id="error-input-family-name" class="input-error hide"></p>
                            </div>
                            <a href="" id="btn-family-edit">
                                <img src="/public/icons/editar-texto.png" alt="Icon-Edit" id="img-edit-family">
                                <img src="/public/icons/save_icon.png" alt="edit" id="img-save-family" class="hide">
                            </a>
                        </label>
                    </section>

                    <section class="apt-info montserrat-light">
                        <p class="center bold black">Caracteristicas</p>
                        <p class="infor-row gray ">Area <span><%=allApartamentData.features_apartament.area%> mts²</span></p>
                        <p class="infor-row gray ">Cuota extraordinaria <span>Q150.00</span></p>
                        <p class="infor-row gray ">Mantenimiento <span>Q<%=allApartamentData.features_apartament.maintenance_fee%>.00</span></p>
                        <p class="infor-row gray ">Mora <span>Q<%=allApartamentData.features_apartament.late_fee%>.00</span></p>
                    </section>
                </li>

                <li class="container-item" id="ocupaccy-info">

                    <section class="apt-details">
                        <p class="montserrat-light center bold ">Datos de propietario</p>
                        
                        <label for="" class="montserrat-light">
                            <p class="level montserrat-light bold black">Nombre</p>
                            <div class="label-error">
                                <input type="text" name="owner-name" placeholder="Nombre del propietario" value="<%=allApartamentData.landlord_name%>" class="input-form" id="input-owner-name" disabled autocomplete="off">
                                <p id="error-input-owner-name" class="input-error hide"></p>
                            </div>
                    
                        </label>

                        <label for="" class="montserrat-light">
                            <p class="level montserrat-light bold black">Teléfono</p>
                            <div class="label-error">
                                <input type="text" name="owner-phone" placeholder="Telefono de propietario" value="<%=allApartamentData.phone_number_landlord%>" class="input-form" id="input-owner-phone" disabled autocomplete="off">
                                <p id="error-input-owner-phone" class="input-error hide"></p>
                            </div>
                        </label>
                        <div class="edit">
                            <a disabled href="" id="btn-owner-edit">
                                <img src="/public/icons/editar-texto.png" alt="Icon-Edit" id="img-edit-owner">
                                <img src="/public/icons/save_icon.png" alt="edit" id="img-save-owner" class="hide">
                            </a>
                        </div>
                    </section>

                    <section class="apt-info">

                        <p class="montserrat-light center bold">Datos de Inquilino</p>
                        
                        <label for="" class="montserrat-light">
                            <p class="level montserrat-light bold black">Nombre</p>
                            <div class="label-error">
                                <input type="text" name="" placeholder="Nombre del inquilino " value="<%=allApartamentData.tenant_name%>"class="input-form" id="input-tenant-name" disabled autocomplete="off">
                                <p id="error-input-tenant-name" class="input-error hide"></p>
                            </div>
                        </label>
                        <label for="" class="montserrat-light">
                            <p class="level montserrat-light bold black">Teléfono</p>
                            <div class="label-error">
                                <input type="text" name="" placeholder="Numero no registrado"value="<%=allApartamentData.phone_number_tenant%>" class="input-form" id="input-tenant-phone" disabled autocomplete="off">
                                <p id="error-input-tenant-phone" class="input-error hide"></p>
                            </div>
                        </label>
                        <div class="edit" >
                            <a disabled href="" id="btn-tenant-edit">
                                <img src="/public/icons/editar-texto.png" alt="Icon-Edit" id="img-edit-tenant">
                                <img src="/public/icons/save_icon.png" alt="edit" id="img-save-tenant" class="hide">
                            </a>
                        </div>
                    </section>

                </li>
                <li class="container-item" id="entry-stickers">

                    <section class="apt-details">
                        <p class="montserrat-light center bold ">Datos de parqueo</p>
                        
                        <div class="info-details montserrat-light" id="parking-stikers-container">
                            <p class="bold black">Stickers de parqueo</p>
                            <% const parking_cards= allApartamentData.parking_data.parking_cards %>
                            <% Object.entries(parking_cards).forEach(function([clave, valor]) { %>
                                <p class="info-row gray"><%=clave%><span><%= valor?valor:'vacío' %></span>
                            <% }); %>
                        </div>
                        <form>
                            <label for="" class="label-input">
                                <input type="text" name="" placeholder="" class="input-form bold montserrat-light" id="input-parking-stickers" disabled autocomplete="off">
                                <div class="edit">
                                    <a disabled href="" id="btn-add-parking-stikers" class="enabled">
                                        <img src="/public/icons/mas.png" alt="Icon-Editt" id="img-add-parking-stickers" >
                                    </a>
                                </div>
                            </label>
                        </form>
                        <div class="info-details montserrat-light">
                            <p class="bold black">Parqueos asignados</p>
                            <%const parkingSpacesArr= allApartamentData.parking_data.parking_spaces%>
                            <% for (let i = 0; i < parkingSpacesArr.length; i += 2) { %>
                                <p class="info-row gray"><%= parkingSpacesArr[i] %> <span><%= parkingSpacesArr[i + 1] %></span></p>
                              <% } %>
                        </div>

                        <label for="" class="label-input">
                            <input type="text" name="" placeholder="" class="input-form bold montserrat-light" id="input-parking-slot" disabled autocomplete="off">
                            <div class="edit">
                                <a disabled href="" id="btn-add-parking-slot" class="enabled">
                                    <img src="/public/icons/mas.png" alt="Icon-Edit" id="img-add-parking-slot" >
                                </a>
                            </div>
                        </label>

                        <div class="edit" >
                            <a disabled href="" id="btn-edit-parking-info">
                                <img src="/public/icons/editar-texto.png" alt="edit" id="img-edit-parking-info">
                                <img src="/public/icons/save_icon.png" alt="edit" id="img-save-parking-info" class="hide">
                            </a>
                        </div>
                    </section>

                    <section class="apt-info">
                        <p class="montserrat-light center bold">Datos de entrada peatonal</p>
                        
                        <div class="info-details montserrat-light" id="walking-stickers-container">
                            <p class="bold black">Stickers de entrada</p>
                            <%const pedestrianData= allApartamentData.pedestrian_cards%>
                            <% Object.entries(pedestrianData).forEach(function([clave, valor]) { %>
                                <p class="info-row gray"><%=clave%><span><%= valor?valor:'vacío' %></span>
                            <% }); %>
                        </div>

                        <label for="" class="label-input">
                            <input type="text" name="" placeholder="" class="input-form bold montserrat-light" id="input-walking-info" disabled autocomplete="off">
                            <div class="edit">
                                <a disabled href="" class="enabled" id="btn-add-walking-info">
                                <img src="/public/icons/mas.png" alt="Icon-Edit">
                            </a>
                            </div>
                        </label>
                        <div class="edit" >
                            <a disabled href="" id="btn-edit-walking-info">
                                <img src="/public/icons/editar-texto.png" alt="edit" id="img-edit-walking-info">
                                <img src="/public/icons/save_icon.png" alt="edit" id="img-save-walking-info" class="hide">
                            </a>
                        </div>
                    </section>
                </li>
                <li class="container-item montserrat-light" id="maintenance">
                    <section class="information-maintenance-status">
                        <div class="circle circle-red"></div>
                        <p>Impago</p>
                        <div class="circle circle-yellow"></div>
                        <p>Pago con Moroso</p>
                        <div class="circle circle-green"></div>
                        <p>Pago en tiempo</p>
                    </section>
                    <section class="maintenace-calendar">
                        <div class="calendar-nav grid-column-6">
                            <div class="calendar-nav-item" id="calendar-go-back">
                                <p id="calendar-go-back">&lt</p>
                            </div>
                            <div class="calendar-nav-item">
                                <p class="calendar-nav-title"></p>
                            </div>
                            <div class="calendar-nav-item" id="calendar-go-next">
                                <p id="calendar-go-next">&gt</p>
                            </div>
                        </div>
                        <div class="container-months">

                        </div>
            
                    </section>
                </li>
            </ul>
                
        </section>
        
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="/public/js/apartmentDetails.js"></script>
    <script type="module" src="/public/js/menu.js"></script>
    <script type="module" src="/public/js/submenu.js"></script>
    <script type="module" src="/public/js/ownerDetails.js"></script>
    <script type="module" src="/public/js/tenantDetails.js"></script>
    <script type="module" src="/public/js/parkingDetails.js"></script>
    <script type="module" src="/public/js/walkingDetails.js"></script>
    <script type="module" src="/public/js/maintenanceDetails.js"></script>
</body>
</html>
